/**
 * @author neelesh.bodas@gmail.com 
 * The only tested and supported browser is Chrome.
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


body {
    line-height: 1;
}
ul {
	font-size: 22px;
	width: 900px;
}
ul > li {
	margin-bottom: 10px;
}
.newul {
	-webkit-column-count:2;
	-webkit-column-gap:40px;
	-webkit-column-rule:3px outset #99CCFF;
	list-style-type:square;
	font-size: 26px;
	padding-bottom: 3em;
}

.tdul li {
	padding-bottom: 10px;
}
.newul > li {
	margin-left: 60px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

b, strong { font-weight: bold }
i, em { font-style: italic }


body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;
    height: 100%;
    background: black;
    -webkit-transition: opacity 800ms ease-in 100ms;
}

article {
	margin-top: 30px;
}


.slide {
	position: absolute;
	z-index: -1;
	top: 11.56069%;
	left: 17.8571%;
    width: 65.47619%;
    height: 78%;
    padding: 40px 60px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 35px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    -webkit-transition: all 0.6s ease-in-out;
    color: #797979;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
    -webkit-box-sizing: border-box;
    -webkit-transition: opacity 1s;
    opacity: 0;
}

article {
	opacity: 0;
	-webkit-transition: opacity 0.6s ease-in 1.5s;
}

.slide.active article {
	opacity: 1;
}

.slide.active.article {
	
}
.slide.active { opacity: 1; z-index: 0;}

.code {
	font-family: 'Inconsolata', 'Courier New', monospace;
	line-height: 28px;
	width: 81%;
	font-size: 20px;
	color: black;
	text-align: left;
	padding: 10px 20px;
	border-radius: 10px;
	background: rgba(0, 204, 255, 0.05);
	border: 2px solid rgba(0, 204, 255, 0.3);
	margin: 10px 0;
}


aside.css3bar {
	height: 14%;
	width: 20%;
	position: absolute;
	left: -1px;
	top: 18%;
	border-radius: 0 10px 10px 0;
	background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #E6E6E6), color-stop(100%, #E6E6E6)) no-repeat;
	-webkit-transition: all 0.5s ease-out 0.5s;
	-webkit-background-size: 0% 100%;
}

aside .css3img {
	height: 95%;
	margin-left: 51%;
	margin-top: 1%;
	opacity: 0;
    -webkit-transition: opacity 0.5s ease-out 1s;
}

.slide.active .css3img {
	opacity: 1;
}
.slide.active .css3bar {
	-webkit-background-size: 100% 100%;
}

.section {
	background: white;
}

.section .heading {
	position: absolute;
	top: 45%;
	opacity: 0;
	-webkit-transition: opacity 0.6s ease-in 1s;
}

.slide.active.section .heading {
	opacity: 1 !important;
}

.section .heading .title {
  	color: #0054AB;
    font-size: 200%;
    font-weight: bold;
    line-height: 2em;
    letter-spacing: -2px;
}

.section .subtitle {
	color: navy;
	font-size: 120%;
}

.section .heading .presenter {
	padding-top: 4%;
	color:  blue;
	font-size: 80%;
}
.section .heading .company{
	color: blue;
	font-size: 80%;
}

.slide hgroup h2{
	display: block;
	-webkit-margin-before: 0.53em;
	color: #0054AB;
	font-size: 150%;
}

.slide hgroup h3{
	display: block;
	-webkit-margin-before: 0.53em;
	color: navy;
	float: right;
	font-size: 80%;
	margin-right: 16%;
	margin-top: -450px;
	-webkit-transition: margin-top 0.6s ease-in 0.6s;
}

.slide hgroup .underline {
	border:1px solid #000088; 
	margin-top: 2%; 
	height:0px;
	width: 0px;
	margin-left: -61px;
	-webkit-transition: width 0.6s ease-in 0s;
}
.slide hgroup .round {
    margin-top:-8px;
    height: 15px;
    margin-left: -61px;
    width:15px;
    border-radius:100px;
    background-color: #0000FF;
    -webkit-transition: margin-left 0.6s ease-in 0s;
}

.slide.active hgroup .underline {
	width: 900px;
}

.slide.active hgroup .round {
	margin-left: 829px;
}

.slide.active hgroup h3 {
	margin-top: -15px;
}

.defn {
	border:1px solid #0000AA;
	width: 84%;
	font-size: 100%;
	margin-bottom:40px;
	border-radius: 10px;
	background-color: #FCFCFC;
}

.defntitle {
   border-bottom: 2px solid #99CCFFF;
   font-weight: bold;
   font-size: 22px;
   color: white;
   padding-top: 0px;
   padding-bottom: 0px;
   background: cornFlowerBlue;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  

}

.defncontent {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: #CCCCCC;	
  font-size: 20px;
  color: #404040;
}

div.zoomDemo {
	border: 5px solid #808080;
	height: 500px;
	width: 500px;
	overflow: hidden;
	position: absolute;
	top: 150px;
	left: 200px;
	z-index:2;
}

.zoomImage {
   -webkit-transform: scale(1.12);
   -webkit-animation-name: zoom;
   -webkit-animation-duration: 1.8s;
   -webkit-animation-delay:2s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: cubic-bezier(.41, .29, .77, .50);
}  

span.zoomSource {
	position: absolute;
	top: 660px;
	left: 200px;
	font-size: 15px;
	color: #800000;
}

@-webkit-keyframes zoom {
	0% {  }
	100% { -webkit-transform: scale(4.2)  rotate(-16.5deg)}
}
	
.ex1tx {
  position: absolute;
  top: 175px;
  left: 600px;
  width: 200px;
}

.ex1ty {
  position: absolute;
  top: 205px;
  left: 600px;
  width: 200px;
}

.ex1rx {
  position: absolute;
  top: 235px;
  left: 600px;
  width: 200px;
}


.ex1ry {
  position: absolute;
  top: 260px;
  left: 600px;
  width: 200px;
}


.ex1rz {
  position: absolute;
  top: 287px;
  left: 600px;
  width: 200px;
}


.ex1sx {
  position: absolute;
  top: 318px;
  left: 600px;
  width: 200px;
}


.ex1sy {
  position: absolute;
  top: 348px;
  left: 600px;
  width: 200px;
}


.ex1kx {
  position: absolute;
  top: 378px;
  left: 600px;
  width: 200px;
}


.ex1ky {
  position: absolute;
  top: 405px;
  left: 600px;
  width: 200px;
}

.ex1bfv {
  position: absolute;
  top: 420px;
  left: 600px;
  width: 200px;
  font-size:16px;
  
}

#ex1txid, #ex1tyid,
#ex1rxid, #ex1ryid, #ex1rzid,
#ex1sxid, #ex1syid,
#ex1kxid, #ex1kyid,
#ex1bfvid {
	color: #800000;
}

#ex1reset {
	font-size: 16px;
	float: right;
	margin-right: 136px;
}

#ex1demo {
	background: #99FFFF;
	height: 100px;
	width: 150px;
	position: absolute;
	top: 480px;
	left: 400px;
	font-size: 55px;
	padding-top: 50px;
	-webkit-text-fill-color: yellow;
	-webkit-text-stroke-color: red;
	-webkit-text-stroke-width: 1px;
	box-shadow: 6px 6px 15px 5px #404040;
}

#ex2Outer {
	position: absolute;
	top: 400px;
	left: 400px;
	height: 250px;
	width: 250px;
	border:1px solid black;
	-webkit-perspective: 1000;
	-webkit-perspective-origin: 600px 100px;
}

#ex2Inner {
	position: relative;
	height: 10px;
	height: 150px;
	width: 200px;
	padding-top: 100px;
	margin-left: 25px;
	-webkit-text-fill-color: yellow;
	-webkit-text-stroke-color: red;
	-webkit-text-stroke-width: 1px;
	font-size: 75px;
	box-shadow: 6px 6px 15px 5px #404040;
	background: #99FFFF;
	-webkit-transform: rotateX(45deg);
}

.rainbow {
	background: -webkit-linear-gradient(left top, red 0%, orange 16%, yellow 33%, green 50%, blue 67%, indigo 84%, violet 100%);
}

#rainbowOuter {
	width: 350px;
	height: 350px;
	position: absolute;
	top: 170px;
	left: 250px;
}

.rainbowTextDiv {
	color: #800000;
	font-size: 18px;
	position: absolute;
	top: 600px;
	left: 600px;
	line-height: 1.5em;
}

#ex2p {
	position: absolute;
	top: 200px;
	left: 650px;
	width: 200px;
}

#ex2pox {
	position: absolute;
	top: 260px;
	left: 380px;
	width: 200px;
}

#ex2poy {
	position: absolute;
	top: 260px;
	left: 650px;
	width: 200px;
}

#ex2pid, #ex2poxid, #ex2poyid {
	color: #800000;
}


#ex3demo {
	background: #99FFFF;
	height: 100px;
	width: 150px;
	position: absolute;
	top: 430px;
	left: 400px;
	font-size: 55px;
	padding-top: 50px;
	-webkit-text-fill-color: yellow;
	-webkit-text-stroke-color: red;
	-webkit-text-stroke-width: 1px;
	box-shadow: 6px 6px 15px 5px #404040;
	-webkit-transform-origin: 75 75;
	-webkit-transform: rotateZ(-60deg);
	border: 0px;
}

#ex3ry {
	position: absolute;
	top: 260px;
	left: 600px;
	width: 200px;
}

#ex3tox {
	position: absolute;
	top: 320px;
	left: 350px;
	width: 200px;
}

#ex3toy {
	position: absolute;
	top: 320px;
	left: 600px;
	width: 200px;
}

#ex3ryid, #ex3toxid, #ex3toyid {
	color: #800000;
}

#ex3origin {
	position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 4px;
    border: 2px solid red;
    background-color: red;
    top: 503px;
    left: 473px;
}

.cubeOuter {
  -webkit-perspective: 1300;
  -webkit-perspective-origin: 50% 00px;
}
.cubeInner {
  -webkit-transform-style:preserve-3d;
  -webkit-transition: -webkit-transform 2s;
  height: 300px;
  width: 300px;
  position: absolute;
  position: absolute;
  left: 270px;
  top: 70px;
}

.cubeFace {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 80px; 
  color: white;
  border-radius: 5px;
}

.cubeFaceA {
   background: rgba(255, 0, 0, 0.5);
   -webkit-transform: rotateY(0deg) translateZ(150px);
}

.cubeFaceB {
   background: rgba(0, 255, 0, 0.5);
  -webkit-transform: rotateY(-90deg) translateZ(150px);
  font-size: 56px;
  color: blue;
}

.cubeFaceC {
   background: rgba(0, 0, 255, 0.5);
  -webkit-transform: rotateY(180deg) translateZ(150px);
  text-align: center;
}

.cubeFaceD {
   background: rgba(255, 255, 0, 0.5);
  -webkit-transform: rotateY(90deg) translateZ(150px);
  text-align:center;
}

.cubeFaceE {
   background: rgba(0, 255, 255, 1);
  -webkit-transform: rotateX(90deg) translateZ(150px);
  text-align: center;
  font-size: 24px;
  color: #800000;
}

.cubeFaceF {
   background: rgba(255, 0, 255, 0.5);
  -webkit-transform: rotateX(-90deg) translateZ(150px);
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: yellow;
}

.cubeEx {
	border: 2px solid black;
	height: 100px;
	width: 160px;
	position: absolute;
	top: 520px;
	left: 100px;
	font-size: 72px;
	color: white;
	text-align:center;
	vertical-align:center;
	padding-top: 60px;
	cursor: pointer;
}

.cubeEx1 { background: rgba(255,0,0,0.3); }
.cubeEx2 { background: rgba(255,255,0,0.3); }
.cubeEx3 { background: rgba(0,255,0,0.3); }
.cubeEx4 { background: rgba(0,255,255,0.3); }
.cubeEx5 { background: rgba(0,0,255,0.3); }
.cubeEx6 { background: rgba(255,0,255,0.3); }

.cubeEx1H {   border:2px solid #008888; -webkit-transition: -webkit-transform 4s; -webkit-transform: rotateY(0deg); }
.cubeEx2H {   border:2px solid #000088; -webkit-transition: -webkit-transform 4s; -webkit-transform: rotateY(-90deg); }
.cubeEx3H {   border:2px solid #880088; -webkit-transition: -webkit-transform 4s; -webkit-transform: rotateY(180deg); }
.cubeEx4H {   border:2px solid #880000; -webkit-transition: -webkit-transform 4s; -webkit-transform: rotateY(+90deg); }
.cubeEx5H {   border:2px solid #888800; -webkit-transition: -webkit-transform 4s; -webkit-transform: rotateX(+90deg); }
.cubeEx6H {   border:2px solid #008800; -webkit-transition: -webkit-transform 4s; -webkit-transform: rotateX(-90deg); }

.cubeFxOuter {
	position: absolute;
	height: 160px
	width: 160px;
	top: 520px;
	left: 100px;
}

.cubeFxOuterP {
  -webkit-perspective: 1200px;
}

.cubeFxOuterT {
  -webkit-transform-style:preserve-3d;
  -webkit-perspective-origin: 300px -250px;
}


.cubeFx {
	border: 1px solid black;
	height: 100px;
	width: 160px;
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 72px;
	color: white;
	text-align:center;
	vertical-align:center;
	padding-top: 60px;
	cursor: pointer;
}

.cubeFx1 { background: rgba(255,0,0,0.7); }
.cubeFx2 { background: rgba(255,255,0,0.7); }
.cubeFx3 { background: rgba(0,255,0,0.7); }
.cubeFx4 { background: rgba(0,255,255,0.7); }
.cubeFx5 { background: rgba(0,0,255,0.7); }
.cubeFx6 { background: rgba(255,0,255,0.7); }

.cubeFx1H {   border:2px solid #008888; -webkit-transition: -webkit-transform 4s; -webkit-transform: rotateY(0deg) translateZ(80px); }
.cubeFx2H {   border:2px solid #000088; -webkit-transition: -webkit-transform 4s; -webkit-transform: rotateY(-90deg) translateZ(80px); }
.cubeFx3H {   border:2px solid #880088; -webkit-transition: -webkit-transform 4s; -webkit-transform: rotateY(180deg) translateZ(80px); }
.cubeFx4H {   border:2px solid #880000; -webkit-transition: -webkit-transform 4s; -webkit-transform: rotateY(+90deg) translateZ(80px); }
.cubeFx5H {   border:2px solid #888800; -webkit-transition: -webkit-transform 4s; -webkit-transform: rotateX(+90deg) translateZ(80px); }
.cubeFx6H {   border:2px solid #008800; -webkit-transition: -webkit-transform 4s; -webkit-transform: rotateX(-90deg) translateZ(80px); }

#ex4demo {
	position: absolute;
	background-color: #0000FF;
	top: 530px;
	left: 60px;
	height: 70px;
	width: 85px;
	font-size: 30px;
	padding-top: 30px;
	padding-left: 15px;
	color: white;
	
}

.ex4transition {
	-webkit-transition: left 3s cubic-bezier(0.1, 1, 1, 0.5), -webkit-transform 3s linear, border-radius 3s ease-out 3s;
}

#ex4demo:active {
	left: 800px;
	-webkit-transform: rotate(180deg);
	border-radius: 100px;
	
}

@-webkit-keyframes move {
  from { left: 60px; }
  50% { width: 830px; left: 60px; background-color: #6699FF;}
  100% { width: 50px; left: 840px; }
  
}

.slide.active #ex6demo {
  border: 3px solid black;
  box-shadow: 5px 5px 10px 2px #A0A0A0;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 580px;
  left: 60px;
  -webkit-animation-name: move;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.9, 0.1, 0.1, 0.9);
  -webkit-animation-delay: 4s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes css3d-spin {
  from { -webkit-transform: rotateY(0); }
  to { -webkit-transform: rotateY(-360deg); }
}

@-webkit-keyframes css3d-antispin {
  from { -webkit-transform: rotateY(-360deg) rotateZ(0); }
  to { -webkit-transform: rotateY(0) rotateZ(-360deg); }
}

.ex5container {
  position: relative;
  top: 30px;  
  margin: 0 auto;
  width: 400px;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: css3d-spin 8s infinite linear;
}


.ex5panel {
  position: absolute;
  width: 400px;
  height: 400px;
  background: rgba(100, 100, 200, 0.3);
  border-radius: 80px;
  font: 360px Arial;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: opacity 0.5s ease-in-out 0.2s;
}

.ex5panel > span {
  color: black;
  display: block;
  height: 400px;
  width: 400px;
  background: #64C864;
  border-radius: 80px;
  -webkit-transform-origin: 50% 0;
   cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s linear;
}

.ex5panel >span:hover {
  -webkit-transform: rotateX(150deg);
}

.ex5one {
-webkit-transform: rotatey(0) translatez(220px);
}

.ex5two {
-webkit-transform: rotatey(90deg) translatez(220px);
}

.ex5three {
  -webkit-transform: rotatey(180deg) translatez(220px);
}

.ex5four {
  -webkit-transform: rotatey(270deg) translatez(220px);
}

.ex5logo {
  opacity: 1.0 !important;
  background: url('../images/chrome_new_256.png');
  background-size: contain;
  -webkit-animation: css3d-antispin 8s infinite linear;
}

#ex6board {
  border: 2px double gold;
  background: silver;
  height: 500px;
  width: 500px;
  position: absolute;
  top: 150px;
  left: 200px;
  padding: 0px;
  box-shadow: 2px 2px 10px 10px #404040;

 }

.ex6coin {
  height: 70px;
  width: 70px;
  border-radius: 70px;
  position: absolute;
  z-index:1;
  box-shadow: 2px 2px 2px #A0A0A0;
  -webkit-transition: -webkit-transform 1s linear, background-color 0s linear 0.5s;
}
.ex6red {
   -webkit-transform: rotate3d(-1, 1, 0, 180deg);
   background-color: #FF0000;
}
.ex6blue {
  background-color: #0000FF;
   -webkit-transform: rotatey(0deg);
}
.ex6newbtn {
  position: absolute;
  top: 630px;
  left: 750px;
  font-size: 28px;
}
.ex6reset {
    position: absolute;
  top: 630px;
  left: 850px;
  font-size: 28px;
}

#ex7xid, #ex7yid, #ex7zid, #ex7did {
	color: #800000;
}

#ex7x, #ex7y, #ex7z, #ex7d {
	width: 170px;
}

#ex7outer {
	position: absolute;
	top: 230px;
	left: 130px;
}

.moredemo {
	border: 3px solid #00FFFF;
	background-color: #99FFFF;
	padding: 10px;
	border-radius: 10px;
	margin: 20px;
	display: inline-block;
	box-shadow: 4px 4px 5px gray;
}

.moredemo a {
	text-decoration: none;
}

.iePrefix {
	font-size: 48px;
	color: #800000;
	margin-left: 35px;
	display: inline-block;
}
.mozPrefix {
	font-size: 48px;
	color: #800000;
	margin-left: 50px;
	display: inline-block;
}
.crPrefix {
	font-size: 48px;
	color: #800000;
	margin-left: 35px;
	display: inline-block;
}
.safPrefix {
	font-size: 48px;
	color: #800000;
	margin-left: 30px;
	display: inline-block;
}
.opPrefix {
	font-size: 48px;
	color: #800000;
	margin-left: 63px;
	display: inline-block;
}

@-webkit-keyframes wheel {
  from { }
  to   { -webkit-transform: rotateY(-360deg); }
}

.ex9outer {
   margin: 1em auto;
  -webkit-perspective: 1200px;
  padding-left: 190px; 
  padding-top: 70px;
  height: 160px;

}

.ex9inner {
	-webkit-animation-name: wheel;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 6s;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 270px 0px;
}

.ex9inner img {
	padding: 0px 0px 400px;
	position: absolute;
	border: 1px solid #ccc;
	background: rgba(255,255,255,0.8);
	box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
	padding: 0px 0px 0px 200px;
}

.ex9inner:hover {
  -webkit-animation-play-state: paused;
}

